<div id="trailers">
<%if @message == 'Record Already Exisists' %>  
<%= render 'search_display' %>  
<% end %>
<%if @message == 'Confirm Record Details' %>  
<%= render 'manual_add_form' %>
<% end %> 
</div> 