/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
 background-color: #F0F2F5;
 color: #000;
  margin: 0px;
  padding: 0px;
}

#top {
  background-color: #1B5985;
  color: #FFF;
  width: 100%;
  min-width: 1183px;
  margin: 0px;
  display: inline-block;
 
}

#top a {
  color: #FFF;
  text-decoration: none;
}

#nav_bar {
  padding-top: 0px;
  margin-left: 0px;
}

#nav_bar ul
{
  padding: 0;
  list-style-type: none;
   margin: 0;

  
}

#nav_bar li  {
  list-style-type: none;
  float: left;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 5px;
  padding-top: 0px;
  padding-left:0px;
}

#nav_bar li a  {
  text-decoration: none;
  color: #FFF;
}

.banner_text {
  float: left;
  margin-top: 5px;
  margin-left: 0px;
  padding-left:0px;;
  padding-top: 0px;
  font-size: 15px;
}

#login_box {
  float: right;
  background-color: #1B5985;
  margin-left: 0px;
  padding-left:0px;
  margin-top: -5px;
  padding-top: 0px;
}

#login_box img {
  float: left;
  margin-left: 0px;
  padding-left:0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 10px;
  max-width: 40px;

}

#login_box p {
  float: right;
  font-size: 15px;
  line-height: 40px;
  margin: 0px;
  padding: 0xp;
  vertical-align:middle;
}

#search_div {
  margin-left: 0px;
  padding-left:0px;
  margin-top: -2px;
  padding-top: 0px;
}

#info_line_one h3 {
  float:left;
}

#info_line_one h3 {
  float:left;
}